* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    /*英文換行*/
    word-break: normal;
    /*英文換行*/
    overflow: auto;
    background-color: #FFF;
}

a {
    text-decoration: none;
    color: #000;
}

.spa_buss {
    min-height: 200px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2b2b2b+76,1c1c1c+91,131313+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.title_buss {
    font-size: 50px;
    color: #ddd;
    line-height: 200px;
}
.fix_head{
	background: #fff;
}
.fix_content{
    padding-top: 50px;
}
.content_buss {
    height: 100%;
}

.content_buss .one_buss {
    background: #fff;
    margin: 10px 0;
    height: 180px;
    border: #ddddd 1px dotted;
    text-align: center;
}

.content_buss .one_buss .img-rounded {
    width: auto;
    height: 130px;
    max-width: 180px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    box-shadow: 1px 1px #888888;
}

.content_buss .one_buss .title {
    font-size: 25pt;
    font-weight: bold;
    position: absolute;
}

.content_buss .one_buss .full_img {
    width: auto;
    max-height: 100%;
    margin: 0 auto;
}

.green * {
    color: #66aa11;
}
.cover_img{
	width: 200px;
	height: 200px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
.cover_item{
	width: 200px;
	height: 200px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;

}
.prod_img {
	width: 100%;
}
.prod_name{
	font-size: 16pt;
	color: #565656;
}
.prod_money{
    position: absolute;
    right: 0;
    top: 80px;
}
.prod_ul{
	border-color: #458343!important;
	border-width: 0 0 5px 0!important;
}
.prod{
}
footer{
	border: 1pt solid #cecece;
}
.imp_primary{
background:  #428bca!important;
}
.imp_success{
background:  #5cb85c!important;
}
.imp_solsuccess{
background:  #7bf47b!important;
}
.imp_info{
background:  #5bc0de!important;
}
.imp_waring{
background:  #d9534f!important;
}
.ui-tabs-active{
background:  #5cb85c!important;

}
.item_active{
	background: #5cb85c;
	border-color: #5cb85c;
}